<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506703120708-0b8k32rvrchdsgu2f1mv12loo2a937fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506703120708-0b8k32rvrchdsgu2f1mv12loo2a937fi</string>
	<key>API_KEY</key>
	<string>AIzaSyCJF0dxdiTjLTh1Rd5SKPzcE9Dmax-s_9c</string>
	<key>GCM_SENDER_ID</key>
	<string>506703120708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swimApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>swim-application-84f9b</string>
	<key>STORAGE_BUCKET</key>
	<string>swim-application-84f9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506703120708:ios:a882c05c9be56870d3af11</string>
</dict>
</plist>